@using MetalMastery.Admin.App_LocalResources
@model MetalMastery.Admin.Models.MaterialModel

@{
    ViewBag.Title = MmAdminResources.Create;
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@MmAdminResources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(MmAdminResources.BackToList, "Index")
</div>


