body,h1,h2,h3,h4,h5,h6,address,blockquote,dd,dl,hr,form,input{margin:0;padding:0;}
body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}
a{color:#009FFF;text-decoration:none;}
a:hover{text-decoration:underline;color:#009FFF;}
a img{border:0;}
header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.header {
    height:70px;
    width:100%;
    background-color: #d9d9d9;
    position:relative;
}
.header .logo {
    background:url(images/logo.png);
    display:block;
    width:340px;
    height:70px;
    text-decoration:none;
}
.header .login-info {
    position:absolute;
    right:5px;
    top:35px;
    text-align:right;
    color:#111;
    font-size:10px;
}
.header .login-info .a {
    color:#009FFF;
    text-decoration:none;
    font-weight:700;
}
.ui-menu {
    float: left;   
}
.ui-menu .ui-menu-item {
    clear: none;
    width: auto;
}
.header-menu {
    width:100%;
    height: 35px;
    text-transform:capitalize;
    background-color: #d9d9d9;
}

.header-menu ul 
{
    margin-top: 5px;
    display: block;
}

.header-menu ul li{
    float: left;
    padding: 8px;
    border: 1px solid;
}

table {
    margin-bottom: 10px;
}

table td {
    padding-right: 20px;
}