<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MmDataContext" connectionString="metadata=res://*/MetalMasteryModel.csdl|res://*/MetalMasteryModel.ssdl|res://*/MetalMasteryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=duo;Initial Catalog=mm_db;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>