@base-color: xxx();
@btn-color: lighten(desaturate(@base-color, 90%), -30%);
@txt-color: lighten(@base-color, -90%);
@shadow-color: lighten(@base-color, -90%);
@left-border: 90px;
@top-border: 99px;
@right-border: 119px;
@bottom-border: 109px;
@horizontal-btn-height: 50px;
@horizontal-btn-width: 250px;
@horizontal-btn-padding: 25px;
@vertical-btn-height: 250px;
@vertical-btn-width: 50px;
@border-radius: 10px;

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Voltaire";
    font-style: normal;
    font-weight: 400;
    src: local("Voltaire"), url("http://themes.googleusercontent.com/static/fonts/voltaire/v3/ag0Q3_6hjQFerbCN2Eewq_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}

html {
    height: 100%;
    body {
        font-size: .85em;
        font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
        margin: 0px; 
        height: inherit;
        min-width: 800px;
        min-height: 600px;   
        background-image: url("paper.png"); 
        background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;   
    }
}

fieldset {
    border: 0 none;
}

.field-validation-error {
    color: red;
}

.text-rotate (@degree) {
    -webkit-transform: rotate(@degree);	
    -moz-transform: rotate(@degree);
    -ms-transform: rotate(@degree);
    -o-transform: rotate(@degree);
    transform: rotate(@degree);
}

.box-shadow(@color) {
    -moz-box-shadow: 0 0 10px @color;
    -webkit-box-shadow: 0 0 10px @color;
    box-shadow: 0 0 10px @color;
}

.border-radius(@border-radius) {
    -webkit-border-radius: @border-radius;
    -moz-border-radius: @border-radius;
    border-radius: @border-radius; 
}

.bottom-border-radius(@border-radius) {
    -webkit-border-bottom-right-radius: @border-radius;
    -webkit-border-bottom-left-radius: @border-radius;
    -moz-border-radius-bottomright: @border-radius;
    -moz-border-radius-bottomleft: @border-radius;
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius; 
}

#single-layout {
    margin: 0 auto;
    width: 100%;
	padding-top: 100px;
    padding-bottom: 100px;
    .content {
        width: 940px;
        margin: 0 auto;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        #comments {
            display: none;
            clear: both;
            padding-top: 15px;
        }
    } 
    #auth {
        display: none;
        left: 50%;
        margin-left: -235px;
        position: absolute;
        text-align: left;
        top: 0;
        z-index: 1;
        table {
            .bottom-border-radius(5px);
            background-color: @btn-color;
            text-align: left;    
            .box-shadow(@shadow-color);    
            font: 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
            color: @txt-color; 
        }
        .close-btn {
            position: absolute;
            bottom: 5px;
            right: 5px;
            cursor: pointer;
            padding: 5px;
        }
    }
}

#layout {
    width: 100%;
    height: 100%;
    form {
        left: 50%;
        top: 30%;
        margin-left: -200px;
        position: absolute;
        text-align: left;
        z-index: 1;
        #signin, #signup {
            .border-radius(5px);
            width: 400px;
            background-color: @btn-color;
            text-align: left;    
            .box-shadow(@shadow-color);    
            font: 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
            color: @txt-color; 
        }
    }
}

#notifications {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;        
    background-color: black;
    opacity: .5;
    z-index: 1;
    color: #fff;
    div {
        font-size: 2.4em;
        height: 40px;
        padding: 20px;
        white-space: nowrap;
        overflow: hidden;
    }
    .error {
        color: red;
    }
    .warning {
        color: yellow;
    }
    .message {
        color: green;
    }
}

.center {
    top: @top-border;
    bottom: @bottom-border;
    position: absolute;
    left: @left-border;
    right: @right-border;
    .logo, .logo-txt {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .logo {
        background-image: url("ornament.png");
        width: 276px;
        height: 278px;
        margin-left: -122px;
        margin-top: -180px;
    }
    .logo-txt {
        background-image: url("metalmastery.png");
        width: 483px;
        height: 57px;
        margin-left: -241px;
        margin-top: 130px;
    }
}

.top-button, .bottom-button {
    background-color: @btn-color;
    height: @horizontal-btn-height;
    width: @horizontal-btn-width; 
    position: absolute;
    margin-left: -125px;
    padding-top: @horizontal-btn-padding;
    text-align: center; 
    left: 50%;
}

.top-button {   
    top: 0; 
    .bottom-border-radius(@border-radius);     
}

.bottom-button {        
    bottom: 0; 
    -webkit-border-top-right-radius: @border-radius;
    -webkit-border-top-left-radius: @border-radius;
    -moz-border-radius-topright: @border-radius;
    -moz-border-radius-topleft: @border-radius;
    border-top-right-radius: @border-radius;
    border-top-left-radius: @border-radius;  
}

.left-button, .right-button {
    background-color: @btn-color;
    height: @vertical-btn-height;
    width: @vertical-btn-width; 
    position: absolute;    
    top: 50%;
    margin-top: -125px;    
    text-align: center;    
}

.left-button {
    left: 0;
    padding-left: @horizontal-btn-padding;
    -webkit-border-top-right-radius: @border-radius;
    -webkit-border-bottom-right-radius: @border-radius;
    -moz-border-radius-topright: @border-radius;
    -moz-border-radius-bottomright: @border-radius;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;	
    div {
        .text-rotate(-90deg);
        margin-top: 110px;
        margin-left: -25px;
    }
}

.right-button {
    right: 0; 
    padding-right: @horizontal-btn-padding;
    -webkit-border-top-left-radius: @border-radius;
    -webkit-border-bottom-left-radius: @border-radius;
    -moz-border-radius-topleft: @border-radius;
    -moz-border-radius-bottomleft: @border-radius;
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    div {
        .text-rotate(-90deg);
        margin-top: 110px;
        margin-right: -25px;   
    }
}

.top-button, .left-button, 
.right-button, .bottom-button {
    font-size: 1.5em;
    color: @txt-color;
    cursor: pointer;
    .box-shadow(@shadow-color);
}

#signin, #signup {
    padding-top: @horizontal-btn-padding;
    cursor: auto;
    padding: 10px;
    .subchck {
        padding: 9px 0;
        position: relative;
        text-align: right;
        .remember {
            left: 0;
            position: absolute;
            text-align: left;
            white-space: nowrap;
            div {
                float: left;
                padding-right: 5px;
            }
        }
    }
    .textbox {
        .editor-label {
            padding-top: 7px;
        }
        span, label {
            display: block;
        }
        input{
            width: 200px;
            .border-radius(3px);
            font: 13px Arial,sans-serif;
            padding: 6px 6px 4px;
            background: none repeat scroll 0 0 #666666;
            color: #FFFFFF; 
            font: 13px Arial,sans-serif;
            border: 1px solid #16171A;
        }
    }
}

#signout {
    display: inline-block;
    padding-left: 10px;
    color: #00c;
}

#articles {
    display: none;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    .list {
        li {
            float: left;
            height: 130px;
            margin: 10px 0;
            width: 420px;
            .item {
                display: block;
                margin-left: 115px;
                margin-top: 15px;
                min-height: 100px;
                padding: 10px;
                text-decoration: none;
                div {
                    background-image: url("js-ico.png");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    display: block;
                    height: 100px;
                    margin-left: -105px;
                    margin-top: -10px;
                    position: absolute;
                    width: 100px;
                }
                h3 {
                    
                    font-size: 24px;
                    line-height: 125%;
                    padding-bottom: 9px;
                }
                p {
                    color: #888888;
                    font-size: 12px;
                }
            }
        }
    }
    .view-article {
        padding-top: 20px;
        font-family: 'Voltaire',serif;
        font-size-adjust: 0.51; 
        .text {
            float: left;
            width: 660px;
        }
        .about {
            float: right;
            padding-bottom: 40px;
            width: 240px;
            .box {
                padding: 15px;
                border-style: solid;
                border-width: 1px;
                .border-radius(5px);
                border-color: #999C9E #404D54 #404D54 !important;
            }
        }
        .close-btn {
            float: left;
            color: #00b;
            cursor: pointer;
            clear: both;
        }       
        h1 {
            font-size: 34pt;
        }
        p {
            color: #373737;
            font-size: 13.5px;
            font-weight: 400 !important;
            line-height: 160%;
            margin-bottom: 5px;            
        }
    }
}

#things {
    display: none;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    .list {
        li {
            float: left;
            height: 130px;
            margin: 10px 0;
            width: 420px;
            .item {
                display: block;
                margin-left: 115px;
                margin-top: 15px;
                min-height: 100px;
                padding: 10px;
                text-decoration: none;
                div {
                    background-image: url("js-ico.png");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    display: block;
                    height: 100px;
                    margin-left: -105px;
                    margin-top: -10px;
                    position: absolute;
                    width: 100px;
                }
                h3 {
                    
                    font-size: 24px;
                    line-height: 125%;
                    padding-bottom: 9px;
                }
                p {
                    color: #888888;
                    font-size: 12px;
                }
            }
        }
    }
    .view-thing {
        padding-top: 20px;
        font-family: 'Voltaire',serif;
        font-size-adjust: 0.51; 
        .text {
            float: left;
            width: 660px;
        }
        .about {
            float: right;
            padding-bottom: 40px;
            width: 240px;
            .box {
                padding: 15px;
                border-style: solid;
                border-width: 1px;
                .border-radius(5px);
                border-color: #999C9E #404D54 #404D54 !important;
            }
        }
        .close-btn {
            float: left;
            color: #00b;
            cursor: pointer;
            clear: both;
        }       
        h1 {
            font-size: 34pt;
        }
        p {
            color: #373737;
            font-size: 13.5px;
            font-weight: 400 !important;
            line-height: 160%;
            margin-bottom: 5px;            
        }
    }
}