@using MetalMastery.Web.App_LocalResources
@model MetalMastery.Web.Areas.Admin.Models.UserModel
<table>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @MmResources.Role
            </div>
        </td>
        <td>    
            <div class="editor-field">
                @Html.CheckBoxFor(model=>model.IsAdmin)
            </div>
        </td>
    </tr>
</table>
