<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
     -->
    <connectionStrings>
        <add name="MmDataContext"
          connectionString="Server=cb4e7d20-4a6d-4331-9b77-9ffd00a71597.sqlserver.sequelizer.com;Database=dbcb4e7d204a6d43319b779ffd00a71597;User ID=rynfsidfdkqygzna;Password=xbAqgnjwDukmeaFSQzFz7xegaQnS7JaAm3KBcmJCWiRwh5hi24pVwfd86tqyazy4;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    </system.web>
</configuration>