@{
    ViewBag.Title = "!#%$%^&6";
}
@if (User.Identity.IsAuthenticated)
{
    <label>Hi @User.Identity.Name</label>
    <input type="button" id="logout" value="---"/>
}
else
{
    <div id="user" style="width: 250px; border: 1px solid #000">
        <p>Email332: <input data-bind="value: email" /></p>
        <p>Password876: <input data-bind="value: password" /></p>
        <p>Remember34297<input type="checkbox"/></p>
        <input type="button" data-bind="click: $root.logIn" value="*&^*"/>
    </div>
}
<div id="userReg" style="width: 250px; border: 1px solid #000">
    <p>Email222: <input data-bind="value: email" /></p>
    <p>Password09: <input data-bind="value: password" /></p>
    <p>Confirm passwordd32423: <input data-bind="value: confirmPassword" /></p>
    <input type="button" data-bind="click: $root.logOn" value="*&^*"/>
</div>
