@using MetalMastery.Admin.App_LocalResources
@model IEnumerable<MetalMastery.Admin.Models.UserModel>

@{
    ViewBag.Title = MmAdminResources.Users;
}

<table>
    <tr>
        <th>
            @MmAdminResources.Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Email
        </td>
        <td>
            @Html.ActionLink(MmAdminResources.Edit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(MmAdminResources.Delete, "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>


